<!--<p>
  Usando a <a href="{{ url }}">Interpolação</a>
  
</p>
<p>Usando a interpolação com : <a href="{{getUrl()}}">método</a></p>
<img src="{{ urlDaImagem }}">
<img [src]="urlDaImagem">
<div>
  Selecione uma classe:
  <select #classe (change)="0">
    <option value="alert-success">Sucesso</option>
    <option value="alert-info">Info</option>
    <option value="alert-warning">Alert</option>
    <option value="alert-danger">Erro</option>
</select>
<div class="alert " role="alert"
[class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
<div class="alert " role="alert"
[class.alert-info]="classe.value == 'alert-info'">Info</div>
<div class="alert " role="alert"
[class.alert-warning]="classe.value == 'alert-warning'">Alert</div>
<div class="alert " role="alert"
[class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

<div class="alert {{classe.value}}" role="alert"
>Texto colorido conforme combobox</div>

<div class="alert alert-danger" role="alert"
[style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Texto só aparece em caso de erro</div>

    
  
</div>-->

<article>
  <h3>Event binding</h3>
  <div>
    <button (click)="botaoClidado()" class="btn btn-primary">Enviar</button>
    <br><br>
    <h1><p><span style="color:#1166e8">G</span><span style="color:#dd4b39">o</span><span style="color:#ffc113">o</span><span style="color:#1166e8">g</span><span style="color:#009c58">l</span><span style="color:red">e</span></p></h1>
    <input type="text" 
    (keyup)="onkeyUp($event)"
    (keyup.enter)="salvarValor(campoInput.value)"
    (blur)="salvarValor(campoInput.value)"
    #campoInput/>

    <p>Valor Atual: {{valorAtual}}</p>
    <p>Valor Salvo: {{valorSalvo}}</p>
    <span
    (mouseover)="onMouseOverOut()"
   (mouseout)="onMouseOverOut()" 
   [class.highlight]="isMouseOver">Passe o mouse sobre mim</span>
  </div>
</article>